<!DOCTYPE html>

<html lang="en">

<head>
	<title>Japan Travel Guide</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/restaurant-details-styles.css"/>
    <link rel="icon" href="/images/japan.svg" type="image/svg+xml">
</head>

<body>
    <header></header>
    <nav></nav>

    <div class="restaurant-details">
        <img class="restaurant-details-img" src="/<%= restaurant.photo %>" alt="<%= restaurant.name %>">
        <div>
            <h1 class="restaurant-title"><%= restaurant.name %></h1>
            <h2><%= restaurant.address %></h2>
            <h2><%= restaurant.phone %></h2>
            <a href="<%= restaurant.link %>" target="_blank">Visit the website here!</a>
        </div>
    </div>
    
    <!-- Reviews Section -->
    <div class="reviews">
        <% if (reviews && reviews.length > 0) { %>
            <h3>Reviews:</h3>
            <ul>
                <% reviews.forEach(review => { %>
                    <li>
                        <strong>Rating: <%= review.rating %>/5</strong><br>
                        <p><%= review.content %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No reviews yet. Be the first to review!</p>
        <% } %>
    </div>
    

    <footer id="footer"></footer>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/restaurantCards.js"></script>
</body>
</html>
